Repository mushu-dev/cryoprotect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @blueprint-house/admin, @blueprint-house/backend-team, @blueprint-house/database-team, @blueprint-house/frontend-team, @blueprint-house/devops-team, @blueprint-house/science-team, @blueprint-house/security-team, @blueprint-house/docs-team

.github/CODEOWNERS:

# CryoProtect CODEOWNERS File

# This file defines the code owners for various parts of the codebase.
# When someone opens a pull request that modifies code owned by someone else,
# they will be automatically requested for review.

# Default owners for everything in the repo
*                   @blueprint-house/admin

# Backend API
/api/**             @blueprint-house/backend-team
/app.py             @blueprint-house/backend-team
/config.py          @blueprint-house/backend-team

# Database
/database/**        @blueprint-house/database-team
/migrations/**      @blueprint-house/database-team

# Frontend
/frontend/**        @blueprint-house/frontend-team

# Deployment and CI/CD
/.github/workflows/ @blueprint-house/devops-team
/docker-compose*    @blueprint-house/devops-team
/Dockerfile*        @blueprint-house/devops-team
/vercel.json        @blueprint-house/devops-team
/Procfile           @blueprint-house/devops-team
/app.json           @blueprint-house/devops-team

# RDKit integration
**/rdkit_*.py       @blueprint-house/science-team
/api/rdkit*         @blueprint-house/science-team

# Security
/api/jwt_auth.py    @blueprint-house/security-team
/api/csrf.py        @blueprint-house/security-team
/api/session_*.py   @blueprint-house/security-team
/api/rate_limiter.py @blueprint-house/security-team
/security_headers.py @blueprint-house/security-team

# Documentation
/*.md               @blueprint-house/docs-team
/docs/**            @blueprint-house/docs-team

# Note: Replace the team names with actual GitHub teams once they are created.
# For now, these are placeholder team names.

Add script to set up branch protection rules
  .github/scripts/setup-branch-protection.sh
Owners: @blueprint-house/admin

Add GitHub issue management tools and updated guidelines
  GITHUB_ISSUE_MANAGEMENT.md
  GITHUB_ISSUE_MANAGEMENT.md.updated
  scripts/issue-audit/cleanup_stale_issues.sh
  scripts/issue-audit/organize_by_epic.py
  scripts/issue-audit/update_issue_audit.py
  scripts/issue-audit/update_project_board.sh
Owners: @blueprint-house/docs-team, @blueprint-house/admin

Implement GitHub -> Vercel Frontend Deployment Integration
  .github/workflows/vercel-deploy-enhanced.yml
  VERCEL_DEPLOYMENT_ENHANCEMENT_PLAN.md
  frontend/package.json
  frontend/scripts/setup-environment.js
  frontend/scripts/verify-deployment.js
Owners: @blueprint-house/devops-team, @blueprint-house/docs-team, @blueprint-house/frontend-team

Update Heroku configuration for deployment
  .python-version
  Procfile
Owners: @blueprint-house/admin, @blueprint-house/devops-team

Fix Procfile for Heroku deployment
  Procfile
Owners: @blueprint-house/devops-team

Add gunicorn to requirements.txt
  requirements.txt
Owners: @blueprint-house/admin

Add simplified app for Heroku deployment
  Procfile
  simple_app.py
Owners: @blueprint-house/devops-team, @blueprint-house/admin

Prepare full app for Heroku deployment
  Procfile
  app.py
  config_heroku.py
  setup_database.py
Owners: @blueprint-house/devops-team, @blueprint-house/backend-team, @blueprint-house/admin

Prepare full app for Heroku deployment
  config_heroku.py
  setup_database.py
Owners: @blueprint-house/admin

Add Heroku-specific database creation script and update dependencies
  create_heroku_tables.py
  requirements.txt
  setup_database.py
Owners: @blueprint-house/admin

Fix data type compatibility issues in create_heroku_tables.py - Update property_type_id to UUID
  create_heroku_tables.py
Owners: @blueprint-house/admin

Add mock RDKit implementation and startup script for Heroku deployment
  Procfile
  app.py
  heroku_app_startup.py
  mock_rdkit.py
Owners: @blueprint-house/devops-team, @blueprint-house/backend-team, @blueprint-house/admin

Use simple Flask app for Heroku deployment instead of full app with RDKit dependencies
  Procfile
  mock_rdkit.py
  simple_app.py
Owners: @blueprint-house/devops-team, @blueprint-house/admin

Add sample data population script and update Procfile
  Procfile
  populate_sample_data.py
Owners: @blueprint-house/devops-team, @blueprint-house/admin

Add Heroku deployment guide with documentation
  HEROKU_DEPLOYMENT_GUIDE.md
Owners: @blueprint-house/docs-team

Add RDKit microservice for Heroku deployment
  HEROKU_INTEGRATION_STEPS.md
  RDKIT_SERVICE_INTEGRATION.md
  heroku-client.py
  rdkit-service-files/Dockerfile
  rdkit-service-files/README.md
  rdkit-service-files/app/__init__.py
  rdkit-service-files/app/app.py
  rdkit-service-files/app/rdkit_utils.py
  rdkit-service-files/docker-entrypoint-rdkit.sh
  rdkit-service-files/environment.yml
  rdkit-service-files/fly.toml
  rdkit-service-files/requirements.txt
  rdkit-service-files/tests/__init__.py
  rdkit-service-files/tests/test_app.py
  update_molecule_properties.py
Owners: @blueprint-house/docs-team, @blueprint-house/admin, @blueprint-house/science-team

Add repository transfer scripts and documentation
  .github/workflows/fly-deploy.yml
  GITHUB_ORGANIZATION_SETUP.md
  REPOSITORY_TRANSFER_GUIDE.md
  scripts/transfer-repository.sh
  scripts/update-github-urls.sh
  scripts/update-github-workflows.sh
  scripts/update-heroku-repository.sh
  scripts/update-vercel-repository.sh
Owners: @blueprint-house/devops-team, @blueprint-house/docs-team, @blueprint-house/admin

Add updated deployment steps for repository transfer
  DEPLOYMENT_STEPS_UPDATE.md
Owners: @blueprint-house/docs-team

Add analysis of deployment issues
  DEPLOYMENT_ISSUES.md
Owners: @blueprint-house/docs-team
